# <!-- main_app/templates/index.html -->
{% extends 'base.html' %}

{% block title %}
Parrot List
{% endblock %}

{% block content %}

<form>
    <div>
      
        <input type="text" name="name" placeholder="name"/>
        <input type="submit" value="Search"/>
    </div>
    <!-- this a tag will redirect back to parrot list without a query param! be sure to use the "name" you called the route in your main_app/urls.py -->
    <a href="{% url 'parrot_list' %}">Clear Search</a>
</form>

<h1>{{header}}</h1>
    {% for parrot in parrots %}
    <img src="{{parrot.img}}" alt="{{parrot.name}}" width="500" height="500">
        <a href="{% url 'parrot_detail' parrot.pk %}">
            <h3>Name: {{parrot.name}}</h3>
        </a>
        <p>image provided by: 
            <a href='/user/{{parrot.user.username}}'>{{parrot.user.username}}</a>
        </p>
    {% endfor %}
{% endblock %}